---
import NewsletterInput from '@components/landing/NewsletterInput.astro'
import SocialLinks from '@components/landing/SocialLinks.astro'
import {
  conocenosPage,
  contactanosPage,
  laAppPage,
  ambientesPage,
  comeAquiPage,
} from '@data/pages'
import { rooms } from "@data/rooms"
---

<footer class="py-16 pb-8 bg-gray-50">
  <div class="max-w-[1200px] mx-auto px-4 sm:px-6 md:px-8">
    <div class="grid grid-cols-1 md:grid-cols-[repeat(3,1fr)_2fr] gap-8 mb-8">
      <div class="space-y-4">
        <h3 class="text-xl font-semibold text-black mb-4">Explora</h3>
        <ul class="space-y-2">
          <li>
            <a
              href={conocenosPage.path}
              class="text-gray-600 hover:text-gray-500 transition-colors"
              >{conocenosPage.label}</a
            >
          </li>
          <li>
            <a
              href={laAppPage.path}
              class="text-gray-600 hover:text-gray-500 transition-colors"
              >{laAppPage.label}</a
            >
          </li>
          <li>
            <a
              href={contactanosPage.path}
              class="text-gray-600 hover:text-gray-500 transition-colors"
              >{contactanosPage.label}</a
            >
          </li>
        </ul>
      </div>
      <div class="space-y-4">
        <h3 class="text-xl font-semibold text-black mb-4">Salas Temáticas</h3>
        <ul class="space-y-2">
          {
            rooms.map((room) => (
              <li>
                <a
                  href={ambientesPage.path}
                  class="text-gray-600 hover:text-gray-500 transition-colors"
                >
                  {room.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="space-y-4">
        <h3 class="text-xl font-semibold text-black mb-4">Menu</h3>
        <ul class="space-y-2">
          <li>
            <a
              href={comeAquiPage.path}
              class="text-gray-600 hover:text-gray-500 transition-colors"
              >Cocktails</a
            >
          </li>
          <li>
            <a
              href={comeAquiPage.path}
              class="text-gray-600 hover:text-gray-500 transition-colors"
              >Tapas</a
            >
          </li>
        </ul>
      </div>
      <div class="space-y-4">
        <h3 class="text-xl font-semibold text-black mb-4">
          Mantente actualizado
        </h3>
        <div class="flex flex-col gap-2">
          <p>
            Suscríbete a nuestro boletín para recibir las últimas noticias y
            ofertas exclusivas.
          </p>
          <NewsletterInput />
        </div>
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row justify-between items-center gap-4 pt-8 border-t border-gray-200"
    >
      <div
        class="flex flex-wrap gap-4 items-center justify-center md:justify-start"
      >
        <span class="text-gray-600"
          >© 2024 Maktub. Todos los derechos reservados.</span
        >
      </div>
      <SocialLinks variant="round" />
    </div>
  </div>
</footer>


