---
import BlogPreview from '@components/landing/BlogPreview.astro';
import BlogPostGrid from '@components/landing/BlogPostGrid.astro';

import { blogMaktubApp, blogUnlockingLove, blogHottestSpot } from '@data/blogs';
---

<div class="mx-auto border-t border-gray-200 mt-16">
  <h2 class="text-2xl font-semibold mb-8 text-gray-800">Publicaciones relacionadas</h2>
  <BlogPostGrid>
    <BlogPreview
      title={blogHottestSpot.title}
      categoryTitle={blogHottestSpot.categoryTitle}
      categoryId={blogHottestSpot.categoryId}
      image={blogHottestSpot.image}
      postId={blogHottestSpot.postId}
      excerpt={blogHottestSpot.excerpt}
    />
    <BlogPreview
      title={blogMaktubApp.title}
      categoryTitle={blogMaktubApp.categoryTitle}
      categoryId={blogMaktubApp.categoryId}
      image={blogMaktubApp.image}
      postId={blogMaktubApp.postId}
      excerpt={blogMaktubApp.excerpt}
    />
    <BlogPreview
      title={blogUnlockingLove.title}
      categoryTitle={blogUnlockingLove.categoryTitle}
      categoryId={blogUnlockingLove.categoryId}
      image={blogUnlockingLove.image}
      postId={blogUnlockingLove.postId}
      excerpt={blogUnlockingLove.excerpt}
    />
  </BlogPostGrid>
</div>
