---
interface Props {
  name: string;
  role: string;
  content: string;
  imageSrc: string;
  rating: number;
}

const { name, role, content, imageSrc, rating } = Astro.props;

import StarIcon from '@components/icons/StarIcon.astro';
---

<div class="relative flex flex-col gap-6 rounded-2xl bg-gray-900 p-6 ring-1 ring-gray-700">
  <div class="flex items-center gap-x-1">
    {Array.from({ length: rating }).map((_, i) => (
      <StarIcon key={i} />
    ))}
  </div>
  <p class="text-gray-300">{content}</p>
  <div class="flex items-center gap-x-4 mt-auto pt-4 border-t border-gray-800">
    <img src={imageSrc} alt={`Photo of ${name}`} class="h-10 w-10 rounded-full bg-gray-800">
    <div>
      <div class="font-semibold text-white">{name}</div>
      <div class="text-gray-400">{role}</div>
    </div>
  </div>
</div>
