---
import PageLandingLayout from '@layouts/PageLandingLayout.astro'
import BlogPreview from '@components/landing/BlogPreview.astro'
import BlogPostGrid from '@components/landing/BlogPostGrid.astro'
import PageTitle from '@components/landing/PageTitle.astro'
import {
  blogHottestSpot,
  blogMaktubApp,
  blogUnlockingLove,
} from '@data/blogs'
---

<PageLandingLayout title="Blog" href="/blog/">
  <div class="flex flex-col gap-2">
    <PageTitle>Publicaciones</PageTitle>
    <BlogPostGrid>
      <BlogPreview
        title={blogHottestSpot.title}
        categoryTitle={blogHottestSpot.categoryTitle}
        categoryId={blogHottestSpot.categoryId}
        image={blogHottestSpot.image}
        postId={blogHottestSpot.postId}
        excerpt={blogHottestSpot.excerpt}
      />
      <BlogPreview
        title={blogMaktubApp.title}
        categoryTitle={blogMaktubApp.categoryTitle}
        categoryId={blogMaktubApp.categoryId}
        image={blogMaktubApp.image}
        postId={blogMaktubApp.postId}
        excerpt={blogMaktubApp.excerpt}
      />
      <BlogPreview
        title={blogUnlockingLove.title}
        categoryTitle={blogUnlockingLove.categoryTitle}
        categoryId={blogUnlockingLove.categoryId}
        image={blogUnlockingLove.image}
        postId={blogUnlockingLove.postId}
        excerpt={blogUnlockingLove.excerpt}
      />
    </BlogPostGrid>
  </div>
</PageLandingLayout>
