---
import '@fortawesome/fontawesome-free/css/all.min.css'

import PageLandingLayout from '@layouts/PageLandingLayout.astro'
import PresentationCard from '@components/landing/PresentationCard.astro'
import ZigZagUnderline from '@components/landing/ZigZagUnderline.astro'
import SplitContentSection from '@components/landing/SplitContentSection.astro'
import { dishes, cocktails } from '@data/appFeatures'
---

<PageLandingLayout title="Come Aquí" href="/come-aqui/">
  <section class="container mx-auto flex flex-col gap-10">
    <SplitContentSection>
      <Fragment slot="title">
        Descubre la <ZigZagUnderline>Experiencia</ZigZagUnderline> de Sabores y
        Sensaciones
      </Fragment>
      <Fragment slot="description">
        Sumérgete en un viaje culinario único en Maktub. Desde platos
        gourmet cuidadosamente elaborados hasta cócteles artesanales que
        despiertan los sentidos. Disfruta de una experiencia gastronómica
        sorbo cuenta una historia.
      </Fragment>
    </SplitContentSection>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {
        dishes.map((feature) => (
          <PresentationCard
            title={feature.title}
            description={feature.description}
            imageUrl={feature.imageUrl}
            imageAlt={feature.imageAlt}
          />
        ))
      }
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {
        cocktails.map((feature) => (
          <PresentationCard
            title={feature.title}
            description={feature.description}
            imageUrl={feature.imageUrl}
            imageAlt={feature.imageAlt}
          />
        ))
      }
    </div>
  </section>
</PageLandingLayout>
